<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IConvoit</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic"> -->
</head>
<body>
	<h1>TP2</h1>
	<p th:text="${hi}"></p>
	[[${vege}]]
	<ul>
		<li data-th-each="ve : ${vege}" th:attr="style='background : '+${ve.color}"> 
		[[${ve.name}]],[[${ve.color}]],[[${ve.price}]]</li>
	</ul>
	<form th:object="${veg}" th:action="@{/addvegetable}" method="POST">
		<input th:field="*{name}" type="text">
		<input th:field="*{color}" type="text">
		<input th:field="*{price}" type="text">
		<input type="submit">
	</form>
</body>
</html>